{% extends 'base.html' %}

{% block content %}
<h1>About</h1>

<h3>{{ title|capfirst|upper|title }}</h3>
<p>This is a template</p>

{{ my_html|safe }}

<p>
    {{ my_text }}, {{ my_number }}, {{ my_list}}
</p>
<ul>
    <li> Item 1 </li>
    <li> Item 2 </li>
</ul>

{% for my_subItem in my_list %}
    {% if my_subItem == 1 %}
        <li>{{ forloop.counter }} - {{ my_subItem|add:22 }}</li>
    {% elif my_subItem == "dfaf" %}
        <li>This is not the network</li>
    {% else %}
        <li>{{ forloop.counter }} - {{ my_subItem }}</li>
    {% endif %}
{% endfor %}
{% endblock %}

#template tags: block, for, if, extends
#filters: |capfirst |upper